doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Mac Pro

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        <img src ="img/1.jpg" style = "width:100px; height : 100px" >
        h1 <marquee behavior="scroll" direction="right" scrollamount="10">Mac Pro</marquee> 
      
      section
        div.a
          h2 Anggota Kelompok :
        hr
        <div align=left>
        ol
          li Suwardy (12.111.0383)
          li Sherly Febrianty (12.111.0120)
          li Widya Putra (12.111.0553)
          li Katarina (12.111.0146)
        </div>

      section
        <img src ="img/3.jpg" style = "width:200px; height:200px" >
        h2 OS X Mavericks

      section
        h2 Pengertian OS X Mavericks
        <div align=left>
        ul 
        li OS X, atau yang sebelumnya disebut Mac OS X, adalah versi terbaru dari sistem operasi Mac OS untuk komputer Macintosh. Sistem operasi ini pertama kali dikeluarkan pada tahun 2001 dan populer di kalangan pengguna.

        li Mac OS X adalah sistem operasi yang menggunakan kernel BSD sehingga beberapa kalangan mengatakan bahwa Mac OS X termasuk dalam keluarga Unix. Hal yang menarik dari OS ini adalah keindahan tampilannya sehingga menjadikannya panutan bagi pengembang desktop lain.

        li Rilis terakhir Mac OS diumumkan pada World Wide Developer Conference (WWDC) 2013 di San Fransico dengan kode Mavericks dengan versi 10.9 .

        li OS X Mavericks memiliki layar yang hemat energi dan mampu memiliki daya tahan baterai selama 12 jam.
        </div>  


      section
        h2 What is Mac Pro?
        ul
          li Produk komputer terbaru keluaran dari Apple
          li Berbentuk tabung seukuran lengan orang dewasa, tidak sama seperti CPU pada umumnya
          li <img src ="img/2013_mac_pro.png" style = "width:200px; height :200px ">

      section
        h2 What is New?
        ul 
          li Processor 4 core hingga 12 core
          li Kapasitas RAM mencapai 64 GB
          li Resolusi gambar hingga 4K (4 x dari 1080p)
          li Flash memory mencapai 1 TB
          li Desain saluran udara yang unik
          li Expansion slots yang banyak , USB 3.0, Thunderbolt 2, HDMI 1.4 ports dan Gigabit Ethernet
          
      section
        h2 Kekurangan Mac Pro
        ul
          li Biayanya Mahal
          li Mac tidak bisa dirakit sendiri karena Apple sudah tidak memberi license untuk perusahaan lain untuk membuat hardware yang bisa menggunakan Mac OS
          li Belum menggunakan aset IP di GPU dan x86 untuk meningkatkan aliran pendapatan di masa depan.

      section
        h2 Kelebihan Mac Pro
        ul
          li Mac Pro's Hardware is incredibly powerful
          li especially if you're using it forgraphic and video tasks
          li it can output up to three 4K display simultaneously(thanks to six Thunderbolt 2 ports plus HDMI)
          li The system is whisper quiet, with a clever three-sided motherboard for efficient cooling and space savings
          
      section
        h2 Mengapa Mahal???
        ul
          li $2,994.00 (sekitar 35 juta rupiah)
          li 3.7 GHz Quad-Core Intel Xeon E5 (Processor)
          li 12 GB 1866 MHz DDR3 ECC (RAM)
          li 256GB PCIe-based Flash (Storage)
          li Dual AMD FirePro D300 (GPU)
          li Mac OS X Mavericks (OS)

      section
        h2 <b>Fitur Baru OS X Mavericks</b>
        h3 Terdapat 10 Fitur Baru Yaitu:
        <b>
        <div align=left>
        ol
          li Dictation Offline
          li Export as PDF
          li Calendar Travel Time
          li Finder Dengan Tab
          li Tags
          li Gabungkan Semua Window Finder Jadi Satu
          li Notification Center Widget
          li LinkedIn Account
          li Try Tonight
          li Kirim Lokasi Dari Maps ke iPhone
        </div>
        </b>

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        hr
        pre
          code.language-javascript.
            bespoke.from('article', {
              keys: true,
              touch: true,
              hash: true,
              state: true,
              bullets: 'li, .bullet'
            });

      section
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild